*::before ::after {
    margin: 0 auto;
    padding: 0;
}
body {
 font-family: 'Press Start 2P', cursive;
 margin-left: 30%;
}

h1 {
    font-size: 18px;
    margin: 200px 0 40px ;

}

p { 
   
    font-size: 12px;
}
